<?xml version="1.0"?>
<ruleset name="AIYA Publish">
    <description>PHPCS rules for the AIYA Publisher WordPress plugin.</description>

    <file>aiya-publish.php</file>
    <file>src</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="8"/>

    <config name="minimum_supported_wp_version" value="6.4"/>
    <config name="testVersion" value="8.4-8.5"/>

    <!--
        本插件与 aiya-core 同款 PSR 风格（strict_types + 命名空间 + camelCase），
        以下排除均为与 PSR 排版/命名相关的 WP 传统风格项，不涉及安全检查。
    -->
    <rule ref="WordPress-Core">
        <exclude name="Generic.Classes.OpeningBraceSameLine"/>
        <exclude name="Generic.Formatting.MultipleStatementAlignment"/>
        <exclude name="Generic.Functions.OpeningFunctionBraceKernighanRitchie"/>
        <exclude name="Generic.WhiteSpace.ArbitraryParenthesesSpacing"/>
        <exclude name="Generic.WhiteSpace.DisallowSpaceIndent"/>
        <exclude name="NormalizedArrays.Arrays.ArrayBraceSpacing"/>
        <exclude name="PEAR.Functions.FunctionCallSignature"/>
        <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing"/>
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration"/>
        <exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
        <exclude name="WordPress.Arrays.ArrayDeclarationSpacing"/>
        <exclude name="WordPress.Arrays.ArrayKeySpacingRestrictions"/>
        <exclude name="WordPress.Arrays.MultipleStatementAlignment"/>
        <exclude name="WordPress.Files.FileName"/>
        <exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName"/>
        <exclude name="WordPress.PHP.YodaConditions"/>
        <exclude name="WordPress.WhiteSpace.CastStructureSpacing"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing"/>
        <exclude name="WordPress.WhiteSpace.OperatorSpacing"/>
    </rule>
    <rule ref="WordPress-Extra"/>
    <rule ref="PHPCompatibilityWP"/>
</ruleset>
